* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.historyContainer{
    width:90vw;
    margin:50px auto;
    display: flex;
    flex-direction: column;
    padding:10px 5px;
    
}
.date{
    margin:5px;
    font-size: 1rem;
    color:grey;
}

.bothContainer{
    width:100%;
    margin:10px 0px;
    display:flex;
    flex-direction: column;
    padding:10px;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(24,84,19,0.72);
    -moz-box-shadow: 0px 0px 7px -1px rgba(24,84,19,0.72);
    box-shadow: 0px 0px 7px -1px rgba(24,84,19,0.72);
    
}

.longContainer,.shortContainer{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.longContainer div,.shortContainer div{
    width:100%;
    padding:7px;
}

.one{
   
    width:10% !important;
    font-size: 1.1rem;
    color:#185413;
    font-weight: 600;

}
.two{
    width:85% !important;
    word-wrap: break-word;
    font-weight: 400;
}
.three{
    color:#185413;
    width:5% !important;
}

@media(max-width:685px){
    .one{
        font-size: 0.9rem;
    }
    .two{
        font-size: 0.8rem;
        padding-left:3px;
    }
    .date{
        font-size: 0.8rem;
    }
}